*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
/* Nav
---------------------------------------------------------------------- */
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 115px;
    padding-left: 115px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    z-index: 200;
}
.menu{
    display: none;
}
.logo img{
    height: 27px;
}
.darklogo img{
    display: none;
    height: 27px;
}
nav.scrolled .darklogo img{
    height: 27px;
    display: flex;
    margin: 0;
    right: 290px;
    position: relative;
}
nav.scrolled{
    background-color: #fff;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.050980392156862744);
    max-width: 100%;
    padding-right: 115px;
    padding-left: 155px;
}
nav.scrolled .desktop-nav li a.current {
    color: #e65f78;
}
.desktop-nav li a.current {
    color: #e65f78;
}
nav.scrolled .desktop-nav li a{
    color:  rgba(0, 0, 0, 0.6);
}
.desktop-nav{
    display: flex;
}
.desktop-nav li {
    list-style: none;
    font-family: 'Nunito', sans-serif;
    margin: 15px;
    font-size: 16px
}
.desktop-nav li a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.desktop-nav li a:hover{
    color: #e65f78;
}
nav.scrolled .desktop-nav li a:hover{
    color: #e65f78;
}
/*------------------------------------*/
.mobile-nav li{
    margin: 0px;
    padding-top: 10px;
    padding-left: 5px;
}
.mobile-nav li a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    margin-left: 15px;
}
.mobile-nav{
    display: none;
    background-color: white;
    padding-bottom: 15px;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.050980392156862744);
}
nav.scrolled .mobile-nav li a.current {
    color: #e65f78;
}
.mobile-nav li a.current {
    color: #e65f78;
}
.mobile-nav li a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
.mobnile-nav li a:hover{
    color: #e65f78;
}
nav.scrolled .mobile-nav li a:hover{
    color: #e65f78;
}
/*------------------------------------*/
.header-bg-img {
    background-image: url('../images/header-bg.jpg');
    position: relative;
    background-size: cover;
    background-position: center center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 70% 100%, 0 80%); 
}
.h-100vh {
    height: 100vh;
}
.header{
    margin: 0 auto;
}
.headofsite{
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.welcome{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 24px;
}
.headtext{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 54px;
}
.headtext a{
    text-decoration: none;
    color: white;
}
.headofsite p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 24px;
    max-width: 500px;
    line-height: 1.8;
}
.postsboxed{
    padding-top: 8px;
    margin-top: 24px;
}
a.button1{
    display:inline-block;
    padding:0.90em 1.9em;
    border:0.15em solid white;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Nunito', sans-serif;
    font-weight:400;
    color:white;
    text-align:center;
    transition: all 0.2s;
    text-transform: uppercase;
}
a.button1:hover{
    background-color: white;
    color: black;
}
@media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
}
/* About
---------------------------------------------------------------------- */
#about{
    padding-top: 120px;
            margin-bottom: 90px;
            display: flex;
}
.aboutimg{
    display:inline-block;
    vertical-align:top;
    
}
.aboutimg img{
    width: 530px;
    height:419px;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: .25rem;
}
.abouttext{
    padding-left: 30px;
    display: inline-block;
}
.abouttext h2{
    color:#212529;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
}
.abouttext h2 span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.abouttext h4{
    color:#212529;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-top:24px;
}
.abouttext h4 span{
    color: #e65f78;
    font-weight: 600;
}
.fp{
    margin-top: 29px;
}
.abouttext p{
    font-family: 'Nunito', sans-serif;
    font-weight:400;
    font-size: 16;
    color: #6c757d;
    line-height: 24px;
    margin-bottom: 16px;
}
.fa-facebook-f::before {
    content: "\f39e";
    padding: 2px;
}
.sociallist ul li a{
    text-decoration: none;
    padding: 12px;
    color: black;
    font-size: 16px;
    border-radius: 50%;
    border: 2px solid #d4d4d4;
}
.sociallist li{  
    padding-right: 15px;
}
.sociallist ul{
    display: flex;
    list-style:none;
}
.sociallist ul li a:hover{
    color:#e65f78;
    border: 2px solid #e65f78;
    transition: all .4s;
}    
/* Services
---------------------------------------------------------------------- */
#services{
    background-color:#F8F9FA;
}

.servicetext{
    text-align: center;
    padding-top: 100px;
}
.servicetext h2{
    font-size: 32px;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.servicetext h2 span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.servicetext p{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight:400;
    line-height: 1.5;
    max-width: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    color:#6c757d;
}
.servicesboxes{
    margin: 0 auto;
    background-color:#F8F9FA;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    margin-top: 70px;
}
.box{
    border: 1px solid #e8e8e8;
    border-radius: .25rem;
    width:350px;
    height: 267px;
    padding:20px;
    text-align: center;
}
.boxicon i{
    font-size: 50px;
    color: #e65f78;
    -webkit-text-stroke: 2px #F8F9FA;
    margin-top: 10px;
}
.boxtext{
    margin-top: 25px;
}
.boxtext h5{
    font-size: 20px;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.title-border{
    height: 2px;
    width: 40px;
    margin: 15px auto;
    background: #e65f78;
    transition: all 0.5s;
}
.box:hover .title-border{
    width: 60px;
}
.boxtext p{
    font-size: 16px;
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
    font-weight:400;
    margin-top: 18px;
    line-height: 1.5;
}
.servicesboxes2{
    margin: 0 auto;
    background-color:#F8F9FA;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    margin-top: 25px;
    padding-bottom: 115px;
}
/* Hire Section
---------------------------------------------------------------------- */
.hire{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.hire h2{
    color: #212529;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.btndiv{
    margin-top: 24px;
}
a.button3{
    display:inline-block;
    padding:1.2em 2.6em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    border-radius: .25rem;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    text-transform: uppercase;
    font-size: 14px;
    color:#FFFFFF;
    background-color:#e65f78;
    text-align:center;
    transition: all 0.2s;
}
a.button3:hover{
    background-color: #d8576f;
    border-color: #d8576f;
}
@media all and (max-width:30em){
    a.button3{
    display:block;
    margin:0.2em auto;
    }
}
/*  clients
---------------------------------------------------------------------- */
#client{
    background-color:#F8F9FA;
    padding-bottom: 70px;
}
.clientslide{
    text-align: center;
    padding-top: 24px;
    margin-top:30px;
}
.quotesimg{
   height: 50px;
   width: 50px;
   margin-bottom: 25px;
}
.clientimg{
    border-radius: 50%;
    padding: .25rem;
    border: 1px solid #dee2e6;
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
}
.clientdescription{
    color: #6c757d;
    font-style: italic;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight:400;
    max-width: 750px;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 24px;
    margin-bottom: 16px;
}
.clientname{
    color: #212529;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight:400;
    margin-top: 24px;
}
.clientname span{
    font-weight: 700;
}
.owl-nav{
    display: none;
}
/* Work
---------------------------------------------------------------------- */
/* Controls
---------------------------------------------------------------------- */
#portfolio{
    padding-bottom: 100px;
}
.controls {
    text-align:center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 12px;
    cursor: pointer;
}
.list-item ul li{
    display: inline;
    margin-left: 5px;
}
.list-item ul li a{
    font-family: 'Nunito', sans-serif;
    font-weight:500;
    font-size: 16px;
}
.control {
    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;
    /* make sure colors have enough contrast! */
    color: #212529;
    background-color: transparent;
}

.control:hover {
    background: #e65f78;
    border-radius: 100px;
    color: white;
    transition: all 0.5s;
}

.mixitup-control-active {
    background: #e65f78;
    border-radius: 100px;
    color: white;
    transition: all 0.5s;
}    
/* Controls
---------------------------------------------------------------------- */

.controls {
    text-align:center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 12px;
    cursor: pointer;
}
.list-item ul li{
    display: inline;
    margin-left: 5px;
}
.list-item ul li a{
    font-family: 'Nunito', sans-serif;
    font-weight:500;
    font-size: 16px;
}
.control {
    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;
    /* make sure colors have enough contrast! */
    color: #212529;
    background-color: transparent;
}

.control:hover {
    background: #e65f78;
    border-radius: 100px;
    color: white;
    transition: all 0.5s;
}

.mixitup-control-active {
    background: #e65f78;
    border-radius: 100px;
    color: white;
    transition: all 0.5s;
}    
/* Container
---------------------------------------------------------------------- */

.container {
    text-align: center;
    padding-top: 24px;
}


/* Target Elements
---------------------------------------------------------------------- */

.mix {
    display: inline-block;
    vertical-align: top;
    margin:10px;
    position: relative;
    overflow: hidden;
    width: 350px;
    cursor: pointer;
}
.mix img{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    border-radius: 5px;
}
.mix:hover img{
    transform: scale(1.06);
}
.mix .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    z-index: 1;
}
  
.mix:hover .content-overlay{
    opacity: 1;
    border-radius: 5px;
}
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .mix:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
.content-details h3{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 0.5em;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}
  
.content-details p{
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
  
.fadeIn-bottom{
    top: 80%;
}
  
.fadeIn-top{
    top: 20%;
}
  
.fadeIn-left{
    left: 20%;
}
  
.fadeIn-right{
    left: 80%;
}
/* Blog
---------------------------------------------------------------------- */
.blog-wrapper{
    width: 85%;
    margin: 0 auto;
}
#blog{
    background-color:#F8F9FA;
    padding-bottom: 100px;  
}
.blog-boxes{
    margin-top: 60px;
    display: flex;
}
.blog-box, .blog-box1, .blog-box2{
    width: 380px;
    height: 472px;
    background: white;
    border-radius: .25rem;
    padding: 8px;
    margin-right: 25px;
}
.blog-box img,.blog-box1 img, .blog-box2 img{
    width:100%;
    margin: auto;
    border-radius: .25rem;  
}
.blog-text{
    padding-top:16px;
    padding-bottom: 16px;
}
.blog-text h5 a{
    font-size:1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #343a40;
}
.blog-text h5 a:hover{
    color: black;
    cursor: pointer;
}
.h6 {
    margin-top: 16px;
    font-size: 16px;
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
.blog-text p{
    margin-top: 16px;
    margin-bottom:16px;
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.blog-text a{
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.h6 a{
    color: #e65f78;
    font-weight: 700;
    cursor: pointer;
}
/* Contact
---------------------------------------------------------------------- */
#contact{
    padding-bottom: 150px;
}
.contact-text{
    text-align: center;
    padding-top: 100px; 
    margin-bottom:16px;
}
.contact-text h2{
    font-size: 32px;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.contact-text h2 span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.contact-text p{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight:400;
    line-height: 1.5;
    max-width: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    color:#6c757d;
}
.contact-ways{
    display: flex;
    margin: 0 auto; 
    margin-top: 50px;
}
.contact-box{
    text-align: center;
    margin-left: 160px;
}
.contact-box img{
    color: #e65f78;
    height: 50px;
    width:50px;
    margin-bottom: 8px;
}
.contact-box h5{
    margin-top:16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:18px;
    color: #212529;
}
.contact-box p{
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
    font-weight:400;
    font-size: 16px;
}
/*------Form-----*/
.form-style-7{
    margin-top: 70px;
}
.form-style-7 h1{
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	padding: 9px;
	border:2px solid #e2e2e2;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
    color: #717981;
	display: block;
	float: left;
	margin-top: -19px;
	background: white;
	height: 14px;
	padding: 0px 5px 2px 5px;
	font-size: 12px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="email"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
    font-size: 16px;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.form-style-7 li:hover {
	border: 2px solid #d8576f;
  transition: all .4s;
}
.form-style-7 textarea{
    height: auto;
}
@media all and (max-width:30em){
    a.button2{
    display:block;
    margin:0.4em auto;
    }
}
.form50{
    display: inline-block;
    width: 48.8%;
}
.form60{
    display: inline-block;
    width: 48.8%;
    margin-left: 20px;
}
button.button4{
    float:right;
    padding: 1.2em 2.6em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.4em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border:0.15em solid#d8576f;
    color:white;
    text-align:center;
    transition: all 0.2s;
    background-color: #d8576f;
}
.button4 a{
    text-decoration: none;
    color: inherit;
}
button.button4:hover{
    background-color: #d8576f;
    border-color: #d8576f;
    color: white;
}
@media all and (max-width:30em){
    a.button4{
    display:block;
    margin:0.4em auto;
    }
}
/* Contact
---------------------------------------------------------------------- */
.footer{
    background-color:#242424;
    text-align: center;
}
.footer-content{
    padding-top: 70px;
    padding-bottom: 70px;
}
.footer-content li{
    display: inline-block;
}
.footer-content ul li a{
    padding:10px;
    display: inline;
    font-size: 25px;
    text-decoration: none;
    color: #717981;
}
.footer-content ul li a:hover{
    color: #d8576f;
    transition: all .2s;    
}
.footer-content p{
    color: #6c757d;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400px;
    margin-top: 30px;
}
/* Loader
---------------------------------------------------------------------- */
.loader-wrapper{
    width: 100%;
    height: 950%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212529;
    z-index: 250;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    top: -44.5%;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
/* Media Query
---------------------------------------------------------------------- */  
@media(max-width:800px){
    nav {
        height: 50px;
        position: fixed;
        transition: all .4s;
        z-index: 200;
        display: block;
        background-color: white;
        padding-right:0px;
        padding-left: 0px;
    }
    .active{
        display: block;
    }
    .menu{
        color: black;
        width: 10%;
        text-decoration: none;
        display: flex;
        float: right;
        font-size: 20px;
        margin-top: 18px;
    }
    .darklogo img,nav.scrolled .darklogo img{
        height: 27px;
        margin-top: 15px;
        display: inline-block;
        right: 0px;
        margin-left: 20px;
    }
    nav.scrolled{
        padding-right: 0px;
        padding-left: 0px;
    }
    .desktop-nav{
        display: none;
    }
    .logo img{
        display: none;
    }
    .wrapper{
        width: 90%;
    }
    .h-100vh{
        height: 75vh;
    }
    a.button1{
        width: 50%;
    }
    .header-bg-img{
        clip-path: none;
    }
    .headtext{
        font-size: 38px;
    }
    .headofsite{
        display: inherit;
        padding-top: 150px;
    }
    .headofsite p{
        margin-left:15px;
        margin-right: 15px;
    }
    #about{
        display: inherit;
    }
    .aboutimg img{
        width: 100%;
        height: auto;
    }
    .abouttext{
        margin-top: 15px;
        padding-left: 0px;
    }
    .servicetext p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .servicesboxes,.servicesboxes2{
        display: table;
    }
    .box{
        margin-bottom: 15px;
    }
    a.button3{
        width: 40%;
    }
    .btndiv{
        margin-top: 40px;
    }
    .list-item{
        margin-left: 25px;
        margin-right: 25px;
        line-height: 2.8;
    }
    .list-item ul li a{
        font-size: 14px;
    }
    .blog-boxes{
        display: inherit;
    }
    .blog-box,.blog-box1,.blog-box2{
        width: 100%;
        height: auto;
    }
    .blog-box1,.blog-box2{
        margin-top: 20px;
    }
    .contact-ways{
        display: inherit;
    }
    .contact-box{
        margin-left:0px;
        margin-top:20px;
    }
    .form50,.form60{
        width: 100%;
        display: inherit;
        margin-left: 0px;
    }
    button.button4{
        float: center;
    }
    .footer-content p{
        margin-right: 55px;
        margin-left: 55px;
    }
}
@media (min-width: 1680px){
    nav.scrolled .darklogo img{
        right: 430px;
    }
    #about{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 90px;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .servicesboxes,.servicesboxes2{
        width: 85%;
        margin: 0 auto;
    }
    .blog-box{
        margin-left: 110px;
    }
    .contact-ways{
        width: 70%;
    }
}
@media only screen and (min-width: 1920px){
    nav.scrolled .darklogo img{
        right: 550px;
    }
    #about{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 90px;
    }
    .container{
        width: 60%;
        margin: 0 auto;
    }
    .blog-box{
        margin-left: 210px;
    }
    .contact-ways{
        width: 80%;
    }
}

